@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.catalogCategories {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: fixed;
  height: 100vh;
}
.catalogCategories a {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-decoration: none;
}
.catalogCategories a span {
  visibility: hidden;
  position: relative;
  bottom: 30%;
  font-size: 4rem;
  color: white;
  opacity: 0;
  transition: 0.7s ease;
  position: relative;
  display: block;
  text-align: center;
  pointer-events: none;
}
.catalogCategories a:hover span {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.7s ease;
  transition-delay: 0.1s;
  background-color: rgba(0, 0, 0, 0.2);
}
.catalogCategories img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s ease, filter 0.1s linear;
}
.catalogCategories img:hover {
  transform: scale(1.2);
  transition: transform 1s ease, filter 0.1s linear;
  filter: blur(5px);
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100vw;
  z-index: 2;
}
footer p {
  font-family: "Lato", sans-serif;
}

.catalogMain {
  display: flex;
  flex-flow: row nowrap;
}

.filtersSideBar {
  margin: 1rem;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  max-width: -moz-fit-content;
  max-width: fit-content;
  z-index: 1;
}
.filtersSideBar h3 {
  text-align: center;
}
.filtersSideBar div span {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}
.filtersSideBar .filterSelect {
  display: flex;
  flex-direction: column;
}
.filtersSideBar .filterSelect select {
  text-align: center;
}

.productSection {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 1;
  margin: 0 0 4rem 5rem;
}
.productSection .product .productAdd {
  max-height: 300px;
  margin: 2rem 2rem 5rem 2rem;
}
.productSection .product .productAdd:hover {
  cursor: pointer;
}
.productSection .product .productAdd img {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.productSection .product .productAdd h3 {
  text-align: center;
}
.productSection .product .productAdd p {
  opacity: 0;
  background-color: black;
  color: white;
  max-width: 20rem;
  max-height: 20rem;
  margin-top: -1.4rem;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  text-align: center;
  vertical-align: center;
  transition: 0.7s ease;
}
.productSection .product .productAdd:hover p {
  opacity: 0.7;
  transition: 0.7s ease;
}
.productSection .product span {
  display: block;
  text-align: center;
}

.cart {
  position: fixed;
  max-width: 20vw;
  width: 100%;
  background-color: gainsboro;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding-bottom: 10vh;
  border-left: gray 2px solid;
  z-index: 1;
}
.cart h3 {
  text-align: center;
  margin-top: 6rem;
}
.cart div div div h3 {
  margin-top: 1rem;
}
.cart .subtotal {
  text-align: center;
  background-color: darkgray;
}
.cart .checkout a {
  color: #000000;
  background-color: rgb(199, 199, 199);
  border: solid black 2px;
  text-align: center;
  display: block;
  padding: 1rem;
  cursor: pointer;
}
.cart .checkout a:hover {
  background-color: white;
}

.cartProduct {
  border-top: 2px solid gray;
}
.cartProduct span {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.cartProduct span p {
  padding-left: 1.5rem;
}
.cartProduct span img {
  max-width: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
.cartProduct span.changeQuantity {
  display: flex;
  justify-content: center;
  gap: 15%;
}
.cartProduct span.changeQuantity .btn {
  cursor: pointer;
}
.cartProduct div img {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: fill-available;
}
.cartProduct div p {
  text-align: center;
  color: red;
  font-weight: 600;
  cursor: pointer;
}
.cartProduct div p:hover {
  text-decoration: underline;
}
.cartProduct .stockAlert {
  text-align: center;
  margin-bottom: 0.3rem;
}
.cartProduct .hidden {
  display: none;
}

.product.hidden {
  display: none;
}

.cart.closeCart {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

.cart.openCart {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    visibility: hidden;
  }
}
@media only screen and (max-width: 900px) {
  .catalogMain,
  .productSection {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .productSection,
  .filtersSideBar {
    margin-left: 0;
    position: relative;
  }
  .cart {
    right: inherit;
    max-width: 100%;
    margin-top: 10%;
  }
}
.whiteFilter {
  filter: invert(100%) sepia(0%) saturate(4739%) hue-rotate(1deg) brightness(134%) contrast(106%);
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  height: 50px;
  padding: 1em;
  position: relative;
  z-index: 2;
}

#cartBtn {
  display: flex;
  width: 3rem;
  cursor: pointer;
}
#cartBtn img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  vertical-align: middle;
}
.menu > li a,
.menu > li a:visited {
  text-decoration: none;
  color: white;
}
.menu > li a:hover,
.menu > li a:visited:hover {
  background-color: gray;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 600px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .cart h3 {
    margin-top: 11rem;
  }
}/*# sourceMappingURL=style.css.map */