@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;

    ul {
        display: flex;
        list-style-type: none;

        li {
            margin: 10px;
            display: block;
            padding: 25px;
            margin: -16px 0px -16px;
            &:hover {
                background-color: darkgrey;
            }
            a {
                font-family: "Lato", sans-serif;
                text-decoration: none;
                color: white;
                &:visited {
                    color: white;
                }
            }
            &.cartBtn {
                display: inherit;
                background-color: darkgrey;
                cursor: pointer;
                img {
                    width: 2rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}

.catalogCategories {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: fixed;
    height: 100vh;
    a {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        text-decoration: none;
        span {
            visibility: hidden;
            position: relative;
            bottom: 30%;
            font-size: 4rem;
            color: white;
            opacity: 0;
            transition: 0.7s ease;
            position: relative;
            display: block;
            text-align: center;
            pointer-events: none;
        }
        &:hover span {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.7s ease;
            transition-delay: 0.1s;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s ease, filter 0.1s linear;
        &:hover {
            transform: scale(1.2);
            transition: transform 1s ease, filter 0.1s linear;
            filter: blur(5px);
        }
    }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    position: fixed;
    width: 100vw;
    p {
        font-family: "Lato", sans-serif;
    }
}

//catalog

.catalogMain {
    display: flex;
    flex-flow: row nowrap;
}

.filtersSideBar {
    margin: 1rem;
    width: fill-available;
    max-width: fit-content;

    h3 {
        text-align: center;
    }
    div span {
        font-family: "Lato", sans-serif;
        font-size: 1.2rem;
    }

    .filterSelect {
        display: flex;
        flex-direction: column;
        select {
            text-align: center;
        }
    }
}

header {
    z-index: 1;
    position: relative;
}

.productSection {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0 0 4rem 5rem;

    .product {
        .productAdd {
            max-height: 300px;
            margin: 2rem 2rem 5rem 2rem;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 20rem;
                height: 20rem;
                object-fit: cover;
            }

            h3 {
                text-align: center;
            }

            p {
                opacity: 0;
                background-color: black;
                color: white;
                max-width: 20rem;
                max-height: 20rem;
                margin-top: -1.4rem;
                height: fill-available;
                width: fill-available;
                text-align: center;
                vertical-align: center;
                transition: 0.7s ease;
            }

            &:hover p {
                opacity: 0.7;
                transition: 0.7s ease;
            }
        }

        span {
            display: block;
            text-align: center;
        }
    }
}

//Cart
.cart {
    // visibility: hidden;
    position: fixed;
    max-width: 20vw;
    width: 100%;
    background-color: gainsboro;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    padding-bottom: 10vh;
    border-left: gray 2px solid;
    h3 {
        text-align: center;

        margin-top: 6rem;
    }

    div div div h3 {
        margin-top: 1rem;
    }

    .subtotal {
        text-align: center;
        background-color: darkgray;
    }

    .checkout {
        a {
            color: #000000;
            background-color: rgb(199, 199, 199);
            border: solid black 2px;
            text-align: center;
            display: block;
            padding: 1rem;
            cursor: pointer;
            &:hover {
                background-color: white;
            }
        }
    }
}

.cartProduct {
    border-top: 2px solid gray;

    span {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        p {
            padding-left: 1.5rem;
        }
        img {
            max-width: 1.2rem;
            margin-left: 0.5rem;
            cursor: pointer;
        }
        &.changeQuantity {
            display: flex;
            justify-content: center;
            gap: 15%;

            .btn {
                cursor: pointer;
            }
        }
    }

    div {
        img {
            max-width: fill-available;
        }
        p {
            text-align: center;
            color: red;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .stockAlert {
        text-align: center;
        margin-bottom: 0.3rem;
    }
    .hidden {
        display: none;
    }
}

.product.hidden {
    display: none;
}

//cart animation

.cart.closeCart {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

.cart.openCart {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
        visibility: hidden;
    }
}

@media only screen and (max-width: 900px) {
    .catalogMain,
    .productSection {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .productSection,
    .filtersSideBar {
        margin-left: 0;
        position: relative;
    }

    .cart {
        right: inherit;
        max-width: 100%;
        margin-top: 10%;
    }
}
