@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin: 10px;
  display: block;
  padding: 25px;
  margin: -16px 0px -16px;
}
nav ul li:hover {
  background-color: darkgrey;
}
nav ul li a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: white;
}
nav ul li a:visited {
  color: white;
}
nav ul li.cartBtn {
  display: inherit;
  background-color: darkgrey;
  cursor: pointer;
}
nav ul li.cartBtn img {
  width: 2rem;
  margin-right: 1rem;
}

.catalogCategories {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-height: 100vh;
  position: fixed;
}
.catalogCategories a {
  width: 100%;
  max-height: 85vh;
  overflow: hidden;
}
.catalogCategories a span {
  visibility: hidden;
  position: relative;
  bottom: 10rem;
  font-size: 4rem;
  background-color: black;
  color: white;
  opacity: 0;
  transition: 0.7s ease;
}
.catalogCategories a:hover span {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.7s ease;
  transition-delay: 0.1s;
}
.catalogCategories img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s ease, filter 0.1s linear;
}
.catalogCategories img:hover {
  transform: scale(1.2);
  transition: transform 1s ease, filter 0.1s linear;
  filter: blur(5px);
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100vw;
}
footer p {
  font-family: "Lato", sans-serif;
}

.catalogMain {
  display: flex;
  flex-flow: row nowrap;
}

.filtersSideBar {
  margin: 1rem;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.filtersSideBar h3 {
  text-align: center;
}
.filtersSideBar div span {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}
.filtersSideBar .filterSelect {
  display: flex;
  flex-direction: column;
}
.filtersSideBar .filterSelect select {
  text-align: center;
}

.productSection {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin: 0 0 4rem 5rem;
}
.productSection .product .productAdd {
  max-height: 300px;
  margin: 2rem 2rem 5rem 2rem;
}
.productSection .product .productAdd:hover {
  cursor: pointer;
}
.productSection .product .productAdd img {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.productSection .product .productAdd h3 {
  text-align: center;
}
.productSection .product .productAdd p {
  opacity: 0;
  background-color: black;
  color: white;
  max-width: 20rem;
  max-height: 20rem;
  margin-top: -1.4rem;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  text-align: center;
  vertical-align: center;
  transition: 0.7s ease;
}
.productSection .product .productAdd:hover p {
  opacity: 0.7;
  transition: 0.7s ease;
}
.productSection .product span {
  display: block;
  text-align: center;
}

.cart {
  visibility: hidden;
  position: fixed;
  max-width: 20vw;
  width: 100%;
  background-color: gainsboro;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding-bottom: 10vh;
}
.cart h3 {
  text-align: center;
}
.cart .checkout a {
  color: #000000;
  background-color: rgb(199, 199, 199);
  border: solid black 2px;
  text-align: center;
  display: block;
  padding: 1rem;
  cursor: pointer;
}
.cart .checkout a:hover {
  background-color: white;
}

.cart.openCart {
  visibility: visible;
}
.cart.openCart .subtotal {
  text-align: center;
  background-color: darkgray;
}

.cartProduct {
  border-top: 2px solid gray;
}
.cartProduct span {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}
.cartProduct span.changeQuantity {
  display: flex;
  justify-content: center;
  gap: 15%;
}
.cartProduct span.changeQuantity .btn {
  cursor: pointer;
}
.cartProduct div img {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: fill-available;
}
.cartProduct div p {
  text-align: center;
  color: red;
  font-weight: 600;
  cursor: pointer;
}
.cartProduct div p:hover {
  text-decoration: underline;
}
.cartProduct .stockAlert {
  text-align: center;
  margin-bottom: 0.3rem;
}
.cartProduct .hidden {
  display: none;
}

.product.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */